* {
    /* margin: 0px; */
    /* padding: 0px; */
    /* height: 0px; */
    /* width: 0px; */
    /* background-color: aquamarine; */
    background-image: "./weather.jpg";

}

body {
    background-image: url("./weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    width: 100%;
    text-align: center;
    font-size: 2rem;
    /* background-color: aqua; */
    border: solid 1px white;

}

#div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    text-align: center;
}

#div form h2 {
    /* background-color: brown; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    padding-bottom: 0px;
    margin-bottom: 4px;
}

#cityName {
    background-color: aliceblue;
    width: 40vh;
    height: 3vh;


}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';

    width: 10rem;
    border-radius: 20px;
    text-align: center;
    background-color: brown;
    color: aliceblue;
    padding: 10px 10px 10px 10px;
}

#weather {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    line-height: 32px;
    font-style: italic;
    font-size: 1.4rem;
}